.about{
    margin-left: 10rem;
    margin-right: 10rem;
}
.about>h1{
    color: red;
    padding-bottom: 2rem;
}
.about>p{
    font-size: large;
    font-weight: 400;
    padding-bottom: 1rem;
}
.about>p>li{
    padding:1rem;
    font-weight: bolder;
}